@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.nav-outer-container {
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 80px;
    background-color: transparent;
    /* background-image: url("https://img.freepik.com/free-vector/colors-leafs-natural-pattern-background_25030-39660.jpg?w=826&t=st=1678643827~exp=1678644427~hmac=0427b3aaf7a4df7946b069f462432b93c5259c9cf6baee81e767c6eed489e45e"); */
}

.nav-inner-container {
    max-width: 98%;
    /* background-color: rgba(255, 255, 255, 0.877); */
    background-color: white;
}

.navbar-brand {
    font-size: 30px;
    font-family: 'Nanum Myeongjo', serif;
}

.nav-link {
    font-weight: 600;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar-brand {
        font-size: 35px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}